div {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
  }

  .external::after {
    content: url(external-link.jpg);
    padding-left: 5px; /* create some space between the image and the content before it */
}